
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="c:\users\tamtamiş\source\repos\e-commerce\rapidapi\multishop.rapidapiwebui\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <br /><br />
    <h3 class="alert alert-succes">Dolar Alış : @ViewBag.exchangeRateUsd -  Dolar Satış: @ViewBag.previousCloseUsd </h3>
    <h3 class="alert alert-danger">Euro Alış : @ViewBag.exchangeRateEur -  Euro Satış: @ViewBag.previousCloseEur </h3>
</div>
